<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <title>vue-hello</title>
</head>
<body>
    <main>
        <section id="test">
            <label for="userName">Inserisci quello che vuoi</label>
            <input id="userName" type="text" v-model="message">
            <label for="imgUser">Inserisci un link per modificare l'immagine</label>
            <input id="imgUser" type="text" v-model="urlImg">

            <h1>
                {{ message }}
            </h1>
            <img @click="attivaClass" :src="urlImg" alt="" id="imgUserClass">

        </section>
    </main>

    <script src="./js/script.js"></script>
</body>
</html>